<div class="p-4">
  <div class="mb-4 flex gap-2 items-center">
    <button class="px-3 py-1 bg-green-600 text-white rounded" (click)="goToCreate()">Créer</button>
    <app-text-field type="text" placeholder="Recherche..." title="Recherche" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)"></app-text-field>
  </div>
  <div *ngIf="showCreate" class="mb-4">
    <app-author-form [author]="editingAuthor" (save)="onCreate($event)" (cancel)="(showCreate=false); editingAuthor=undefined;"></app-author-form>
  </div>
  <app-list
    [title]="'Auteurs'"
    [itemKey]="'name'"
    [list]="authors"
    [serverSide]="true"
    [showControls]="false"
      (editMode)="onEdit($event)"
      (detailMode)="onDetail($event)"
      (removeMode)="onRemove($event)">
  </app-list>
  <app-loader/>
  <div *ngIf="error" class="mt-4 text-sm text-red-600">{{ error }}</div>
</div>
