@use '@angular/material/theming' as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette, 600);
$accent-palette: mat.define-palette(mat.$pink-palette, 200);
$warn-palette: mat.define-palette(mat.$red-palette);

$typography-config: mat.define-typography-config();

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette
  ),
  typography: $typography-config
));

@include mat.core();
@include mat.all-component-themes($custom-theme);
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
