/* src/assets/styles/global.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #4CAF50;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

li {
    background-color: #f4f7fc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e1f1e1;
}

/* src/assets/styles/global.css */

select[multiple] {
    height: 120px;
    background-color: #f4f7fc;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

select[multiple]:focus {
    border-color: #4CAF50;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
.select {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
}